<launch>

  <!-- Arguments -->
  <arg name="obstacles" default="$(find gls)/examples/world.png" />
  <arg name="graph" default="$(find gls)/examples/graph_400.graphml" />
  <arg name="start_x" default="0.1" />
  <arg name="start_y" default="0.1" />
  <arg name="target_x" default="0.9" />
  <arg name="target_y" default="0.9" />

  <!-- Test Node -->
  <node name="test" pkg="gls" type="test_ShortestPath_Forward" respawn="false" output="screen"
  	args="-o $(arg obstacles) -g $(arg graph) -s $(arg start_x) $(arg start_y) -t $(arg target_x) $(arg target_y)" />
</launch>
